:root{
    --mainColor: #3c5aa6;
}

body{
    background-color: var(--mainColor);
    color: white;
    font-family: Trebuchet MS, sans-serif;
}

img{
    width: 150px;
    
}

h2{
    column-span: all;
    text-align: center;
}

input{
    
    padding: 2px;
    border-radius: 6px;
    font-size: 16px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 16px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
    width: 150px;
    :focus{
        border: 2px solid #000;
        border-radius: 4px;
    }

}

button{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 6px 18px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
    :hover {
        border-color: #000000;
        background: #f7f7f7;
    }

}

/*Page Styling*/

.item-a{
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: center;
}

.comparison{
    grid-column-start: 2;
    align-self: end;
    display: none;
}

.item-b{
    grid-column-start: 3;
    justify-self: center;
    display: none;
}



.pic{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.name{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.enterName{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.searchBtn{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.type{
    margin: auto;
    text-align: center;
}

.abs{
    margin: auto;
    text-align: center;
}
.stats{
    margin: auto;
    text-align: center;
}
.moveSet{
    margin: auto;
    text-align: center;
}
.arr{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

/*Links*/

a:visited{
    color: black;
}

.abEx{
    margin: auto;
    text-align: center;
    font-style: italic;
}

.abExB{
    margin: auto;
    text-align: center;
    font-style: italic;
}

  
